<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap Workflow</title>
	<link rel="stylesheet" href="css/style.css" media="screen" />
	<script src="js/jquery.js"></script>
</head>
<body style="padding-top: 50px">
	{% include "header.html" %}
	{% block content %} {% endblock %}
	{% include "footer.html" %}
	<script src="js/script.js"></script>
</body>
</html>